.titulo {
    text-align: center;
}


.educacion {
    text-align: center;
}
.experiencia {
    text-align: center;
    }
.Curso {
    text-align: center;
}
.parrafo {
    text-align: center;
}
.titulo1 {
    font-family: "Playwrite IS", cursive;
  font-optical-sizing: auto;
  font-weight: weight 25;
  font-style: normal 25;
}